---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import MyCarousel from "~/components/Carousel";
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero image={{ src: import('~/assets/images/smaht-network.png'), alt: 'SMaHT Network' }}>
    <Fragment slot="title">
      <span> Somatic Mosaicism Across Human Tissues</span>
      <br />
      <span class="text-accent dark:text-white highlight">(SMaHT)</span>
    </Fragment>

    <Fragment slot="subtitle">
      The <span class="font-semibold">Somatic Mosaicism across Human Tissues (SMaHT)</span> Network aims to transform our
      understanding of how somatic mosaicism in human cells influences biology and disease.
      
    </Fragment>
  </Hero> -->
  <section class="scroll-mt-16">
    <div class="px-4 py-4 mx-auto max-w-6xl lg:px-8 lg:py-8">
          <MyCarousel client:load />
        </div>
  </section>

  <section class="scroll-mt-16">
    <div class="px-4 py-4 mx-auto max-w-6xl lg:px-8 lg:py-8">
      <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
        <div>
          <h1 class="text-3xl py-4 font-bold">Welcome to the SMaHT Network!</h1>
          <p class="text-lg">
            The <a href="https://commonfund.nih.gov/smaht" target="_blank" class="text-blue-500 underline"
              >Somatic Mosaicism Across Human Tissues <span class="text-accent dark:text-white highlight">(SMaHT)</span
              ></a
            >
            is a new initiative sponsored by the National Institutes of Health, Office of Strategic Coordination - The Common
            Fund. This initiative will investigate somatic variations: DNA changes that occur as our bodies develop, grow,
            and age, and how these changes impact health and disease. For the first time, scientists will create a large-scale,
            systematic catalog of somatic variation, providing an invaluable resource for the broader scientific community.
          </p>
        </div>
        <div class="m-auto w-full">
          <YouTube id="8KX3lkMB5nU" />
          <p class="text-sm text-gray-500 text-right">
            This video can be found on <a
              href="https://commonfund.nih.gov/news-media/videos"
              class="text-blue-500 underline"
              target="_blank">the NIH website</a
            >.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    highlight=""
    title="Key Outcomes"
    subtitle=""
    items={[
      [
        {
          title: 'Catalog of variants',
          description: 'A catalog of somatic variants in select tissues from diverse human donors',
          icon: 'tabler:components',
        }],[
        {
          title: 'New tools and analysis methods',
          description:
            'Innovative sequencing tools and analysis methods that optimize variant detection',
          icon: 'tabler:bulb',
        },
      ],
        [
        {
          title: 'Comprehensive resources',
          description:
            'Fundamentally new ways of understanding the contribution of somatic variation to human biology',
          icon: 'tabler:arrows-right-left',
        },
      ],
      [
        {
          title: 'A SMaHT data workbench',
          description: 'A SMaHT data workbench that seamlessly integrates with current tools to study DNA sequences, like genome browsers, and combines analysis of somatic variation with the current human eference genome',
          icon: 'tabler:list-check',
        }],
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    items={[
      {
        title: 'Somatic Variant Discovery',
        description:
          'This initiative will generate a catalog of human somatic variation by sequencing data from 10-15 sets of tissues collected from 150 individuals. This initiative will consist of a Tissue Procurement Center and Genome Analysis Centers.',
      },
      {
        title: 'Technology and Tool Development',
        description:
          'These projects will develop innovative technologies to improve the detection of different types of somatic variation and rare variants.',
      },
      {
        title: 'Data Analysis and Organization',
        description:
          'This initiative consists of Data Analysis Centers and an Organizational Center. The Data Analysis Centers will ensure that the somatic variant catalog is accessible, high-quality, and interoperable. The Organizational Center will coordinate the program’s activities and provide outreach to the research community.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Organizations</h3>
      The SMaHT Network includes the following initiatives:
    </Fragment>
  </Content> -->
</Layout>
